@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
:root {
  --primary-color: #ADEFD1FF;
  --background-primary: #00203FFF;
  --background-secondary: #20272E;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background-primary);
  margin: 0;
  font-family: 'Poppins', sans-serif;
  color: white;
}

.navbar {
  background: #00203f;
  padding: 1em;
  width: -webkit-fill-available;
  width: -moz-available;
  width: stretch;
  position: fixed;
  top: 0%;
  z-index: 1000;
  border-bottom: 3px solid var(--primary-color);
}

.navbar #mobile-cta {
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

.navbar .logo {
  text-decoration: none;
  font-weight: bold;
  color: white;
  font-size: 1.5em;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.navbar .logo span {
  color: var(--primary-color);
}

.navbar nav {
  display: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.navbar .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: space-between;
}

.navbar .mobile-menu {
  cursor: pointer;
}

a {
  color: #444444;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

section {
  padding: 5em 2em;
}

.hero {
  text-align: center;
  height: 75vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-position: center;
  background: -webkit-gradient(linear, left top, left bottom, from(var(--background-primary)), to(rgba(0, 0, 0, 0.8))), url("/images/background.jpg");
  background: linear-gradient(var(--background-primary), rgba(0, 0, 0, 0.8)), url("/images/background.jpg");
}

.left-col {
  font-size: 1em;
}

.left-col .subhead {
  text-transform: uppercase;
  font-weight: bold;
  color: grey;
  letter-spacing: .3em;
}

.left-col h1 {
  font-size: 2.8em;
  line-height: 1.3em;
  margin-top: .2em;
}

.left-col h1 span {
  color: var(--primary-color);
}

.left-col .primary-cta {
  background: var(--primary-color);
  color: black;
  text-decoration: none;
  padding: 10px 32px;
  font-size: 1em;
  border-radius: 25px;
  font-weight: bold;
  display: inline-block;
  letter-spacing: 1px;
  margin-top: 10px;
}

section.about-me {
  background: #20272E;
  color: white;
  padding: 5em 3em;
}

section.about-me h1 {
  font-size: 2.5em;
}

section.about-me h1 span {
  color: var(--primary-color);
}

section.about-me h1:after {
  content: "";
  display: inline-block;
  height: 0.1em;
  vertical-align: middle;
  width: 30%;
  margin-right: -100%;
  margin-left: 10px;
  background: var(--primary-color);
}

section.about-me p {
  font-size: 1rem;
  padding: 2rem 0 5rem 0;
  max-width: 67%;
  color: #c8c8c8;
  line-height: 1.7;
}

ul.features-list {
  margin: 0;
  padding-left: .1em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(19rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));
}

ul.features-list li {
  font-size: 1.1em;
  margin-bottom: 1em;
  margin-left: 2em;
  position: relative;
}

ul.features-list li:before {
  content: '';
  left: -2em;
  position: absolute;
  width: 20px;
  height: 20px;
  background-image: url("../images/bullet.svg");
  background-size: contain;
  margin-right: .5em;
}

.skills-section {
  background: var(--background-primary);
  color: white;
}

.skills-section h1 {
  font-size: 2.5em;
}

.skills-section h1 span {
  color: var(--primary-color);
}

.skills-section h1:after {
  content: "";
  display: inline-block;
  height: 0.1em;
  vertical-align: middle;
  width: 30%;
  margin-right: -100%;
  margin-left: 10px;
  background: var(--primary-color);
}

.skills-section li {
  background: var(--background-secondary);
  text-align: center;
  padding: 2em 1em;
  width: 80%;
  margin: 0 auto 5em auto;
  border-radius: 1em;
}

.skills-section li svg {
  width: 6em;
  height: 6em;
}

.my-projects {
  background: var(--background-secondary);
  color: white;
}

.my-projects h1 {
  font-size: 2.5em;
}

.my-projects h1 span {
  color: var(--primary-color);
}

.my-projects h1:after {
  content: "";
  display: inline-block;
  height: 0.1em;
  vertical-align: middle;
  width: 30%;
  margin-right: -100%;
  margin-left: 10px;
  background: var(--primary-color);
}

.my-projects ul li {
  background: var(--background-primary);
  text-align: center;
  padding: 0 0 2em 0;
  width: 90%;
  margin: 0 auto 5em auto;
  border-radius: 1em;
  display: -ms-grid;
  display: grid;
}

.my-projects ul li .link-group {
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}

.my-projects ul li img {
  width: 100%;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
}

.my-projects ul li .linkButton {
  background: var(--primary-color);
  color: black;
  text-decoration: none;
  padding: 10px 40px;
  font-size: 1em;
  border-radius: 25px;
  font-weight: bold;
  display: inline-block;
  letter-spacing: 1px;
  margin: 10px;
}

.contact-section h1 {
  font-size: 2.5em;
}

.contact-section h1 span {
  color: var(--primary-color);
}

.contact-section h1:after {
  content: "";
  display: inline-block;
  height: 0.1em;
  vertical-align: middle;
  width: 30%;
  margin-right: -100%;
  margin-left: 10px;
  background: var(--primary-color);
}

h2 {
  font-size: 2em;
}

label {
  display: block;
  font-size: 1.2em;
  margin-bottom: .8em;
}

input, textarea {
  width: 100%;
  padding: .8em;
  margin-bottom: 1em;
  border-radius: .3em;
  border: 1px solid grey;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

input[type="submit"] {
  background-color: var(--primary-color);
  color: white;
  font-weight: bold;
  font-size: 1.3em;
  border: none;
  margin-bottom: 5em;
  border-radius: 5em;
  display: inline-block;
  padding: .8em 2em;
  width: unset;
  cursor: pointer;
}

nav.menu-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

nav {
  position: fixed;
  z-index: 999;
  width: 100%;
  right: 0;
  top: 0;
  background: var(--background-primary);
  height: 100vh;
  padding: 1em;
}

nav li a {
  color: white;
  text-decoration: none;
  display: block;
  padding: .5em;
  font-size: 1.3em;
  text-align: right;
}

nav li a:hover {
  font-weight: bold;
}

.mobile-menu-exit {
  float: right;
  margin: .5em;
  cursor: pointer;
  height: 1.5em;
  width: 1.5em;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.footer {
  background: var(--background-secondary);
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
  padding: 0;
  border-top: 1px solid black;
}

.footer #gitHub {
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

.footer svg {
  width: 3em;
  height: 3em;
  margin: 10px;
}

@media only screen and (min-width: 768px) {
  .mobile-menu, .mobile-menu-exit {
    display: none;
  }
  .navbar .container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 180px auto;
        grid-template-columns: 180px auto;
  }
  .navbar nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background: none;
    position: unset;
    height: auto;
    width: 100%;
    padding: 0;
  }
  .navbar nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .navbar nav a {
    color: white;
    font-size: 1em;
    padding: .1em 1em;
  }
  .navbar nav li.current a {
    font-weight: bold;
  }
  .navbar nav li.go-premium-cta a {
    color: var(--primary-color);
    border: 3px solid var(--primary-color);
    font-weight: bold;
    border-radius: 5em;
    margin-top: -.2em;
  }
  .navbar nav li.go-premium-cta a:hover {
    background: var(--primary-color);
    color: white;
  }
  .left-col {
    font-size: 2em;
  }
}

@media only screen and (min-width: 1080px) {
  .container {
    width: 1080px;
    margin: 0 auto;
  }
  section {
    padding: 10em 4em;
  }
  .hero .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    text-align: left;
  }
  .hero .container .left-col {
    margin: 3em 3em 0 5em;
  }
  .hero .container .left-col h1 {
    font-size: 3e;
    width: 100%;
  }
  .hero-img {
    width: 30%;
    margin-right: 8em;
  }
  .hero-cta {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .primary-cta {
    margin-right: 1em;
  }
  ul.features-list {
    display: block;
    margin-left: 5em;
  }
  ul.features-list li {
    font-size: 1.4em;
  }
  ul.features-list li:before {
    width: 30px;
    height: 30px;
  }
  .about-me {
    position: relative;
  }
  .my-projects ul {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 3em;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .my-projects ul li {
    margin: 0 1em;
  }
  .skills-section ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .skills-section ul li {
    margin: 0 1em;
  }
  .contact-section {
    background: var(--background-primary);
    position: relative;
  }
  .contact-section .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .contact-section .container .send-message-cta {
    color: black;
  }
}
/*# sourceMappingURL=main.css.map */